.programs {
    margin: 5px auto;
    width: 90%;
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.program img {
    width: 150px;
    height: 250px;
    /* width: 100%; */
    /* height: auto; */
    /* border-radius: 10px; */
    display: block;

}

.program {
    flex-basis: calc(33.33% -20px);
    /* flex-basis: 31%; */
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    border: 5px solid #000000;
}

.caption {
    /* border-radius: 10px; */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    /* background: rgba(15, 15, 16, 0.3); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
}

.caption p {
    font-size: 1.5rem;
    text-align: center;
}

.program:hover .caption {
    opacity: 1;
    padding-top: 0;
}

/* Media Query'ler */


@media (min-width: 662px) and (max-width: 992px) {
    .programs {
        flex-wrap: wrap;
        margin-left: 110px;
        /* justify-content: center; */
        width: 75%;
    }

    .program {
        margin-left: 20px;
        display: block;
    }
}

@media (max-width: 662px) {
    .programs {
        flex-wrap: wrap;
        margin-left: 30px;
    }

    .program img {
        display: block;
    }
}